<?xml version="1.0" encoding="utf-8"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Constants>
    <AIN1>0</AIN1>
    <AIN2>0</AIN2>
    <BIN1>0</BIN1>
    <BIN2>0</BIN2>
    <LineSensor1Pin>0</LineSensor1Pin>
    <LineSensor2Pin>0</LineSensor2Pin>
    <LineSensor3Pin>0</LineSensor3Pin>
    <LineSensor4Pin>0</LineSensor4Pin>
    <LineSensor5Pin>0</LineSensor5Pin>
    <LineSensor6Pin>0</LineSensor6Pin>
    <IRDetectorPin>0</IRDetectorPin>
    <WheelRadius>0</WheelRadius>
    <LineWidth>0</LineWidth>
    <MapWidth>0</MapWidth>
    <MapHeight>0</MapHeight>
    <MapResolution>0</MapResolution>
  </Constants>
  <Map />
</Project>